@import 'styles/colors';

.header {
  background-color: $primary-3;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 2px solid #504e4e;

  .utilityContainer, .logoContainer {
    padding: 12px 8px;
    place-items: center;
    display: grid;

    a {
      line-height: 0;
    }
  }
  
  .navigationContainer {
    display: flex;
    justify-content: center;
    flex: 1;

    a {
      padding: 0 8px;

      &:hover::after,
      &.activeLink::after {
        border-bottom: 1px solid #504e4e;
        content: '';
        position: relative;
        height: 1px;
        left: 0;
        bottom: 0;
        display: block;
        clear: both;
      }

      &:not(:last-child) {
        border-right: 1px solid #504e4e;
      }
    }
  }
}
