@mixin maxWidth() {
  max-width: 50vw;
}

.detailContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 12px;

  .titleContainer {
    justify-self: center;
  
    .title {
      text-align: center;
    }
  
    .intro {
      text-align: center;
    }

    .readTime {
      font-size: 0.8rem;
      text-align: end;
    }
  }

  .publishDate {
    text-align: end;
  }

  .contentContainer {
    p {
      margin: 0 0 16px;
    }

    h1, h2, h3, h4 {
      margin: 24px 0 12px;
    }
  }
}

@media screen and (min-device-width: 1200px) {
  .contentContainer, .intro, .title {
    @include maxWidth;
  }
}
