@import 'colors';
@import 'variables';

// Target the root div - which wraps the whole application
#__next {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1.5rem;
  background-color: $primary-2;
  font-family: Inter, Helvetica, Apple Color Emoji, Segoe UI Emoji,
    NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji,
    EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Noto Sans, sans-serif;
  font-size: $root-font-size;
}

main {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
