.contentContainer {
    display: grid;
    padding: 12px;
}
.contentContainer .title {
    place-self: center;
    text-align: center;
    font-size: 2rem;
    line-height: 1.25;
}
.contentContainer .contentRow {
    display: flex;
}

.contentRow .content {
    display: flex;
    flex: 1;
}

.contentRow .description {
    margin: 0 16px;
}

.contentRow .description > h1 {
    font-size: 1.5rem;
}

@media screen and (min-device-width: 1200px) {
    
    .contentRow .gapContainer {
        flex: 1;
    }
}

