.homeContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 48px;
}

.homeContainer > section {
  flex: 1;
}

.homeContainer .moneyContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.introText {
  font-weight: 800;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -2.5px;
}

.introText .textGradient {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intoDescription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #636363;
}

.gradientButton {
  display: block;
  width: fit-content;
  margin: 32px 0;
  border: 0;
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  padding: 12px 24px;
  border-radius: 24px;
  color: rgba(256, 256, 256);
}

.money {
  width: 70%;
  height: 70%;
}
