@mixin maxWidth() {
  max-width: 50vw;
}

.detailContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 12px;

  .title {
    text-align: center;
    @include maxWidth;
  }

  .intro {
    @include maxWidth;
  }

  .publishDate {
    text-align: end;
  }

  .contentContainer {
    .subTitle {
      margin-bottom: 8px;
    }

    .subContent {
      margin-top: 0;
    }
  }
}

@media screen and (min-device-width: 1200px) {
  .contentContainer {
    @include maxWidth;
  }
}
