.itemContainer {
  border-bottom: 1px solid #504e4e;
  max-width: 100vw;
  padding: 4px;
  cursor: pointer;

  .intro {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-device-width: 1200px) {
  .itemContainer {
    max-width: 50vw;
  }
}
