.homeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
  margin: 48px;
}

.small {
  font-size: 0.8rem;
}

.homeContainer > section {
  flex: 1;
}

.homeContainer .cardContainer {
  display: flex;
  justify-content: center;
}

.introText {
  font-weight: 800;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -2.5px;
}

.introText .textGradient {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.type {
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0;
  max-width: fit-content;
  width: fit-content;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.intoDescription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #636363;
}

.gradientButton {
  display: block;
  width: fit-content;
  margin: 32px 0;
  border: 0;
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  padding: 12px 24px;
  border-radius: 24px;
  color: rgba(256, 256, 256);
}
