@import 'styles/colors';

.itemContainer {
  display: grid;
  grid-template-columns: 128px 128px 0.5fr 1fr;
  grid-template-rows: minmax(0, 128px);
  align-items: center;
  border-bottom: 1px solid #504e4e;
  padding: 4px;
  margin: 8px 0;
  cursor: pointer;

  &:hover {
    margin-left: 8px;
    background-color: $brown-1;
    border: none;
    box-shadow: 1px 1px $primary-4;
    border-radius: 4px;
  }
  article {
    max-height: 128px;
    overflow: hidden;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-device-width: 1200px) {
  .itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .metaColumn {
    display: none;
  }
}
